/* set the navbar background color */
.navbar-custom {
    /*background-color: #a03439;*/
    background-color: #B2AC88;
}

.container-banner {
    background-color: #B2AC88;
}

/*inline divs for photo page*/
div.inline { 
    float:left; 
}

/*set banner image size*/
img.banner {
    width: 100%;
    height: 550px;
}
